@import 'basicModal';
@import 'btn';

html, body, #root{
    height: 100%;
    margin:0;
    font-family: 'Noto Sans KR', sans-serif;
}

.skHynix_container{
    height:100%;
    display:flex;
    justify-content:center; 
    
    button{
        align-self: center;
    }
}